<section>
  <div class="flex flex-col text-center items-center">
      <div class="bg-gray-100 sm:rounded-lg px-8 py-2 mb-2">
        <%= @letter.author %>
      </div>
      <div>
        <img src="<%= @letter.content %>">
      </div>
      <%= live_redirect "Cofnij", to: Routes.live_path(@socket, SeniorSantaWeb.LetterLive.Index), class: "w-1/6 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 mt-2 border border-gray-400 rounded shadow" %> 
  </div>
</section>
